﻿@{ 
    ViewBag.Title = "Home Page";
}
<h3>The World</h3>
<p>This will be a fun website soon!</p>

<div class="row">

    <div class="col-md-6 col-xs-8">
        <form>
            <div>
                <label>Date</label>
                <input />
            </div>
            <div>
                <label>Location</label>
                <input />
            </div>
            <div>
                <input type="submit" value="Add" />
            </div>
        </form>
    </div>
    <div class="col-md-6 col-xs-4">
        <h2>The Map</h2>
    </div>
</div>